


<h3>Gallery</h3>

<GalleryItem></GalleryItem>

@code {
   /* private List<Note> notes;

    private void OnInitialize()
    {
        //notes = sqliteDataAccess.loadAllNotes(); // Call method from the library
    }*/
}