.container {
    display: flex;
    align-items: center;  /* Vertically center the columns */
    justify-content: space-between; /* Space out the columns */
    width: 60%;
  }
  
  .left-column {
    flex: 0 0 70%;  /* Take up 70% of the space */
  }
  
  .main-img {
    margin-top: 30px;
    width: 100%; /* Make the image take the full width of the left column */
    height: auto; /* Maintain aspect ratio */
  }
  
  .right-column {
    flex: 0 0 28%;  /* Take up 28% of the space */
    padding: 10px;  /* Add some padding to the right column */
    font-size: 1rem;  /* Small font size for the paragraph */
    text-align: right;  /* Justify text to make it nice */
  }